source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget GraphSharp_Unofficial
nuget MahApps.Metro
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx